.btn {
    background-color:#BDECB6;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    padding-bottom: 1px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.btn:disabled {
    background-color: #A5A5A5;
    border: none;
    color: black;
    border-radius: 5px;
}